<mat-sidenav-container class="h-100">
  <mat-sidenav
    #mainSidenav
    [mode]="commonService.isMobile ? 'over' : 'side'"
    class="sidenav"
  >
    <mat-toolbar color="primary">
      <span routerLink="/" class="pointer">Casanare Devs</span>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item
        *ngFor="let _item of menuMainItems"
        [ngClass]="{ 'item-active': itemActive.isActive }"
        (click)="commonService.isMobile ? navigationSidenav.toggle() : null"
      >
        <mat-icon
          matListIcon
          [class]="itemActive.isActive ? 'icon-active' : undefined"
        >
          {{ _item.icon }}
        </mat-icon>
        <a
          matLine
          [routerLink]="_item.routerLink"
          routerLinkActive
          #itemActive="routerLinkActive"
          class="no-color"
        >
          {{ _item.label }}
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="d-flex flex-column h-100">
      <app-toolbar (navigationSidenav)="navigationSidenav.toggle()">
      </app-toolbar>

      <div class="flex-column flex-grow-1">
        <router-outlet></router-outlet>
      </div>

      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
