<div class="container py-2">
  <div class="row">
    <div class="col-12">
      <br />

      <h1>Grupo de desarrolladores de Casanare</h1>

      <br />

      <p>
        El Grupo fue creado para apoyarnos y aprender de tecnologías y novedades
        tecnológicas.
      </p>
    </div>
  </div>

  <div class="row my-4">
    <div *ngFor="let _dev of devsList" class="col-12 col-md-6 col-lg-3 mb-4">
      <mat-card class="h-100">
        <mat-card-content class="h-100">
          <div class="d-flex">
            <div class="d-flex justify-content-center w-75">
              <div #divAvatar class="avatar">
                <img [src]="_dev.imageUrl" />
              </div>
            </div>

            <div
              class="
                d-flex
                flex-grow-1
                justify-content-center
                align-items-center
                flex-column
              "
            >
              <a
                *ngFor="let _social of _dev.socialNetworks"
                mat-icon-button
                [href]="_social.url"
                [matTooltip]="_social.name | titlecase"
                target="_blank"
              >
                <mat-icon [svgIcon]="_social.name"></mat-icon>
              </a>
            </div>
          </div>

          <br />

          <h2 class="text-center">{{ _dev.name }} {{ _dev.lastName }}</h2>
          <p class="text-center">{{ _dev.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
