<div class="container px-1 py-2">
  <div class="row">
    <div
      class="col-12 col-lg-7 d-flex align-items-center justify-content-center"
    >
      <div class="w-75">
        <img
          src="assets/images/page_not_found.svg"
          class="img-fluid"
          alt="Error"
        />
      </div>
    </div>
    <div
      class="col-12 col-lg-5 d-flex align-items-center justify-content-center py-5"
    >
      <div class="w-75 mx-auto mx-md-0 text-center">
        <img src="/assets/images/logo.svg" class="w-25 mb-3" alt="Logo" />

        <h1>Casanare Devs</h1>
        <br /><br />
        <h2>404. <span class="text-medium"> Página no encontrada </span></h2>
        <h3>
          La URL solicitada <b> {{ currentURL }} </b> no fue encontrada, le
          recomendamos que se dirija a la página de inicio.
        </h3>

        <br /><br />

        <a mat-flat-button routerLink="/" class="w-100">Ir a Inicio</a>
      </div>
    </div>
  </div>
</div>
