// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

// Fonts
@import "https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

$fontConfig: mat.m2-define-typography-config(
  $font-family: "Open Sans",
  $headline-1:
    mat.m2-define-typography-level(112px, 112px, 300, $letter-spacing: -0.0134em),
  $headline-2:
    mat.m2-define-typography-level(56px, 56px, 400, $letter-spacing: -0.0089em),
  $headline-3: mat.m2-define-typography-level(45px, 48px, 400),
  $headline-4:
    mat.m2-define-typography-level(34px, 40px, 400, $letter-spacing: 0.0074em),
  $headline-5: mat.m2-define-typography-level(24px, 32px, 600),
  $headline-6: mat.m2-define-typography-level(20px, 32px, 600),
  $subtitle-1: mat.m2-define-typography-level(16px, 28px, 500),
  $subtitle-2: mat.m2-define-typography-level(15px, 24px, 500),
  $body-1: mat.m2-define-typography-level(14px, 24px, 500),
  $body-2: mat.m2-define-typography-level(14px, 20px, 400),
  $caption: mat.m2-define-typography-level(12px, 20px, 400),
  $button: mat.m2-define-typography-level(14px, 14px, 500),
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@include mat.core();

$primary-palette: (
  50: #e4e5ef,
  100: #bdbdd8,
  200: #9292bd,
  300: #696aa3,
  400: #4d4b91,
  500: #312e7f,
  600: #2c2877,
  700: #241f6d,
  800: #1c1661,
  900: #0f044c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$accent-palette: (
  50: #ede8f6,
  100: #d2c7e8,
  200: #b4a2da,
  300: #977ccb,
  400: #805fbf,
  500: #6a45b4,
  600: #623fae,
  700: #5537a4,
  800: #4a319c,
  900: #39268c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mat-primary: mat.m2-define-palette($primary-palette, 900);
$mat-accent: mat.m2-define-palette($accent-palette, 900);

// The warn palette is optional (defaults to red).
$mat-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $mat-primary,
      accent: $mat-accent,
      warn: $mat-warn,
    ),
    typography: $fontConfig,
  )
);

$altTheme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $mat-primary,
      accent: $mat-accent,
      warn: $mat-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($theme);
@include mat.typography-hierarchy($theme);

.theme-dark {
  @include mat.all-component-colors($altTheme);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Use grid de bootstrap, utilities and images
@import "bootstrap/scss/bootstrap-grid.scss";
@import "bootstrap/scss/bootstrap-utilities.scss";
@import "bootstrap/scss/images";

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  width: auto;
}
