<div [ngClass]="{ 'bg-indigo-900 dark:bg-indigo-950': commonService.isMobile }" class="bg-white dark:bg-gray-900">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="w-full">
        <mat-toolbar color="primary" class="bg-indigo-900 dark:bg-indigo-950">
          <mat-toolbar-row [ngClass]="{ 'px-0': commonService.isMobile }">
            <button
              *ngIf="commonService.isMobile"
              mat-icon-button
              (click)="navigationSidenav.emit()"
              class="mr-2 text-white"
            >
              <mat-icon>menu</mat-icon>
            </button>
            <span routerLink="/" class="cursor-pointer text-white font-semibold">Casanare Devs</span>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
    </div>
  </div>
</div>
