.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  border-right: none;
}

.item:hover {
  background-color: rgba($color: #ffffff, $alpha: 0.1);
}

.item-active {
  background-color: rgba($color: #ffffff, $alpha: 0.2);
}
