@import "./assets/theming.scss";

.theme-dark .mat-mdc-card:not([class*="mat-elevation-z"]),
.mat-mdc-card:not([class*="mat-elevation-z"]) {
  box-shadow: 0px 3px 1px 0px rgba(51, 102, 204, 0.2),
    0px -1px 1px 0px rgba(51, 102, 204, 0.08),
    0px 0px 1px 0px rgba(51, 102, 204, 0.12);
}

.theme-dark .mat-expansion-panel:not([class*="mat-elevation-z"]),
.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: 0px 3px 1px 0px rgba(51, 102, 204, 0.2),
    0px -1px 1px 0px rgba(51, 102, 204, 0.08),
    0px 0px 1px 0px rgba(51, 102, 204, 0.12);
}

.mat-elevation-z4 {
  box-shadow: 0px 2px 4px -1px rgba(51, 102, 204, 0.2),
    0px 4px 1px 0px rgba(51, 102, 204, 0.14),
    0px -1px 2px 0px rgba(51, 102, 204, 0.12);
}

a:not([class*="mat-mdc-button-base"], [class*="mat-menu-item"]) {
  color: var(--accent-color);
  text-decoration: none;
  overflow-wrap: anywhere;

  &:not([class*="color"]) {
    color: inherit;
  }
}

a:not(
    [class*="mat-mdc-button-base"],
    [class*="mat-menu-item"],
    [class*="no-color"]
  ):hover {
  color: var(--accent-darker-color);
}

.a-link {
  color: inherit;
  text-decoration: none;
  overflow-wrap: anywhere;
}

.pointer {
  cursor: pointer;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
